body {
    font-family: "Roboto", "Raleway", sans-serif;
    color:#2E2F42;
    background-color: #FFFFFF;

}
.nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  color: #2e2f42;
}
.navigations > li >a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.address > li > a {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
